In [9]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import geopandas

In [10]:
schools = pd.read_csv("neighborhood_enrollment.csv")

In [3]:
aa_mean = schools["african_american"].mean()
ai_mean = schools["american_indian"].mean()
ap_mean = schools["asian__not_pacific_islander"].mean()
h_mean = schools["hispanic"].mean()

In [4]:
print(aa_mean)
print(ai_mean)
print(ap_mean)
print(h_mean)

59.94054054054054
nan
26.63157894736842
23.866666666666667

In [9]:
enroll = schools[["neighborhood", ["total_students_enrolled"] > 1]]
enroll.sort_values(by="total_students_enrolled")
enroll.head(10)

TypeError: '>' not supported between instances of 'list' and 'int'

In [15]:
drop = schools.dropna(subset = "total_students_enrolled")

In [17]:
students = drop[["neighborhood", "total_students_enrolled", "grade_level"]]
students.head(10)

         neighborhood  total_students_enrolled grade_level
6   Bedford Dwellings                     12.0       Pre-K
7           Beechview                     44.0       Pre-K
9          Bloomfield                     21.0       Pre-K
12   Brighton Heights                     32.0       Pre-K
13          Brookline                     57.0       Pre-K
15            Carrick                     64.0       Pre-K
17  Central Northside                     16.0       Pre-K
21    Crafton Heights                     36.0       Pre-K
22   Crawford-Roberts                     17.0       Pre-K
26         East Hills                     44.0       Pre-K

In [24]:
high = students.sort_values("total_students_enrolled", ascending=False)

In [28]:
high.groupby("grade_level").head().sort_values(["grade_level", "total_students_enrolled"])

            neighborhood  total_students_enrolled grade_level
250             Sheraden                    156.0         6-8
224            Knoxville                    169.0         6-8
189            Beechview                    196.0         6-8
195            Brookline                    276.0         6-8
197              Carrick                    293.0         6-8
339             Sheraden                    205.0        9-12
278            Beechview                    215.0        9-12
346  Squirrel Hill South                    249.0        9-12
284            Brookline                    310.0        9-12
286              Carrick                    378.0        9-12
168  Squirrel Hill South                    286.0         K-5
104     Brighton Heights                    296.0         K-5
99             Beechview                    339.0         K-5
105            Brookline                    526.0         K-5
107              Carrick                    541.0         K-5
7              Beechview                     44.0       Pre-K
41        Homewood South                     46.0       Pre-K
13             Brookline                     57.0       Pre-K
70              Sheraden                     58.0       Pre-K
15               Carrick                     64.0       Pre-K